# Date: 2026-05-25
# Author: XinYang Li

AGENTHUB_BACKEND_PORT=8080
AGENTHUB_DATABASE_URL=postgres://postgres:postgres@localhost:5432/agenthub?sslmode=disable
AGENTHUB_FRONTEND_ORIGIN=http://192.168.139.155:3000
AGENTHUB_AGENT_ROOT_DIR=../agent
AGENTHUB_PYTHON_BIN=python3
